
.page-head {
  background-color: yellow;
  display: flex;

}
.container {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container-menu {
  display: flex;
  align-items: center;
}

.logo, .container-icons {
  padding: 2vh;
  width: auto;
}
.icon {
  padding-right: 2vh;
}

ul {
  display: flex;
}
li {
  margin: 3vw 3vh;
}

a {
  color: black;
  font-family: 'refreshregular';
  letter-spacing: 0.3vh;
}
