
.page-head {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.label-menu {
  display: none;
}
input#display-menu {
  display: none;
}

/*  MENU BURGER  */
@media only screen and (min-width: 768px) {
  .page-head .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-head .container .logo  {
    flex: 1;
    padding: 2vh;
  }
  .page-head .container .navigation  {
    flex: 5;
    padding: 2vh;
  }
  .logo a {
    display: block;
  }
  .icons {
    display: flex;
  }
  .icons .language {
    margin-right: 2vh !important;
    display: flex;
    align-items: center;
  }
  .icons .language img {
    margin-left: 1vh;
  }
  .icons .social:not(:last-child) {
    margin-right: 2vh;
  }
  .main-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu ul {
    display: flex;
  }
  .menu ul li {
    margin: 3vw 3vh;
  }
  .menu ul li a {
    color: black;
    font-family: 'refreshregular';
    letter-spacing: 0.3vh;
  }
}

@media only screen and (max-width: 767px) {
  .label-menu {
    display: block;
    cursor: pointer;
    z-index: 400;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5vh;
  }
  .bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000000;
    margin: 4px;
    transition: all 0.2s;
  }
  .main-menu {
    display: none;
    background-color: rgba(157,79,193,1);
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 200;
  }
  .menu {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
  }
  .menu ul li {
    margin: 3vw 3vh;
  }
  .menu ul li a {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 8vh;
    font-family: 'refreshregular';
    letter-spacing: 0.3vh;
    line-height: 10vh;
  }
  .icons {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
  }
  .icons .language {
    margin-right: 2vh !important;
    display: flex;
    align-items: center;
  }
  .icons .language img {
    margin-left: 1vh;
  }
  .icons .social:not(:last-child) {
    margin-right: 2vh;
  }

  input#display-menu:checked ~ .main-menu {
    display: block;
  }
  input#display-menu:checked  ~ label .top {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  input#display-menu:checked  ~ label .middle {
    opacity: 0;
  }
  input#display-menu:checked  ~ label .bottom {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

}
