
.page-head {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-menu, .container-icons {
  display: flex;
  align-items: center;
}

.logo {
  padding: 2vh;
  width: auto;
}
.icon {
  padding-right: 2vh;
}

.page-head ul {
  display: flex;
}
.page-head li {
  margin: 3vw 3vh;
}

.page-head a {
  color: black;
  font-family: 'refreshregular';
  letter-spacing: 0.3vh;
}
