.page-content {
  margin-top: 15vh;
}

.content {
  width: 84vw;
  margin: auto;
  height: auto;
  padding: 3vh;
}


.picture {
  flex: 1;
  margin: 3vh;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.picture img {
  width: 100%;
  height: 100%;
}

.container-1 {
}

.container-2 {
  display: flex;
  align-items: center;
  width: 100%;
}



.container-3 {
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-image: url('../../images/background-image.jpg');
  background-position: top;
  background-color: cover;
}

.framboise {
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-image: url('../../images/background-image.jpg');
  background-position: center;
  background-color: cover;
}

.section-content {
  padding: 10%;
}

.valais {
  color: red;
  font-family: 'subaccuzregular';
}

.container-4 {

}


/* --------------------- Bouton normal */
.block-share {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.share {
  color: white;
  font-size: 3vh;
  letter-spacing: 0.5vh;
  font-family: 'subaccuzregular';
  margin-bottom: 10vh;
  padding: 1vh;
  background-color: rgba(157,79,193,1);
}

/* --------------------- Bouton déroulant */

details {
  width: 75%;
  margin: 3vw 0;
  min-height: 5px;
  max-width: 700px;
  padding: 3vh 3vw;
  position: relative;
  font-size: 2vh;
  transition: all .3s;
  background-color: rgba(157, 79, 193, 0.7);
}

details + details {
  margin-top: 20px;
}



details p {
  margin-top: 1vh;
  font-weight: 300;
  font-size: 10px;
}

summary {
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  margin: 20px;
  position: absolute;
  top: 20%;
  right: 0;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f078";
  background-image: url('../../images/fleche.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: .3s ease;
}

details[open] summary::after {
  font-size: 30px;
  top: 0vh;
  right: 0vw;
  transform: translateY(0);
  transition: .3s ease;
}

details[open] summary:hover::after {
  animation: pulse 1s ease;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* ------------------------ RESPONSIVE  */


@media only screen and (max-width: 767px) {
  .page-content {
    margin-top: 10vh;
  }

  .content {
    width: 100vw;
    margin: auto;
    height: auto;
    padding: 3vh;
  }

  h1 {
    font-size: 5vh;
    text-align: center;
    margin: 0;
  }

  .container-2 {
    display: block;
    align-items: center;
    width: auto;
  }
  h2 {
    font-size: 5vh;
  }
  .picture {
    margin: 3vh 0;
  }
}
